@import url("https://fonts.cdnfonts.com/css/magilio");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #333333;
}
html {
  scroll-behavior: smooth;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d36e70;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text-shadow-pink {
  color: #d36e70; /* Color rosa */
  text-shadow: -0.05em 0.05em 0 hsl(200 50% 30%);
}
.title {
  font-family: "Magilio", sans-serif;

  font-weight: 900;
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
.animationSection {
  view-timeline: --section;
  view-timeline-axis: block;

  animation-timeline: --section;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
